* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: #62828d; */
    background: linear-gradient(90deg ,#62828d, #71919c85 );
    padding: 10px;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    /* background-color: white; */
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    font-weight: 900;

}

.menu {
    padding-top: 50;
    margin: 50;

    list-style: none;
    float: right;

    &:not(:last-child) {
        margin-right: 30px;
    }

}

li {
    float: left;

}

a {
    display: block;
    padding: 0 28px;
    color: #fff;
    text-decoration: none;
    /* transition: all 0.45s; */
}


a:hover {
    background-color: #00000070;
    border-radius: 20px;
}



div {
    /* padding: 60px 350px;
} */

    body {
        margin: 0;
        padding: 0;
        background-color: #6abadeba;
        font-family: 'Arial';
    }


    .amit {
        float: right;
        padding-top: 0;
    }

    .login:hover {
        background-color: #00000070;
    }


    .active {
        background-color: #00000070;
        border-radius: 20px;

    }

    .menu li {

        &:hover {
            /* background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg=="); */
            /* animation: line 1s; */
            / background-color: #37494f;

            border-radius: 20px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .header {
        text-align: center;
        padding: 20px 0;
        background-color: #007bff;
        color: #fff;
      }

    &:hover a {
        color: #fff;
    }
}

@keyframes line {
    0% {
        /* background-position-x: 390px; */
    }

    